
#restorer #restorer-table-frame {
	display: inline-block;
	height: 150px;
	border: 1px solid #808080;
	overflow-y: scroll;
	width: 100%;
	background-color: #ffffff;
	}

#restorer table.localStore {
	border-collapse:collapse;
	border-spacing:0px;
	width: 100%;
	}

#restorer table.localStore tr td,
#restorer table.localStore tr th {
	padding: 0.3em;
	}

#restorer table.localStore tr th {
	border-bottom: 1px solid #c1c1c1;
	background: linear-gradient(to bottom, #f2f2f2 70%,#e0e0e0 100%);
	font-weight: bold;
	position:  sticky;
	top: 0px;
	padding-right: 1.5em;
	}

#restorer table.localStore tr * {
	text-align: center;
	}

#restorer table.localStore tr[data-id] * {
	cursor: pointer;
	}

#restorer table.localStore tr[data-id] *:first-child {
	text-align: left;
	}

#restorer table.localStore tr[data-id]:hover {
	background-color: #e0e8f8;
	}

#restorer table.localStore tr[data-id] span.delete {
	font-size: 70%;
	display: inline-block;
	background-color: #ff0000;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0.3em;
	padding: 0.2em 0.35em;
	visibility: hidden;
	}

#restorer table.localStore tr[data-id] td:hover span.delete {
	visibility: visible;
	}

#restorer table.localStore tr[data-id] span.x50pc {
	font-size: 75%;
	text-align: center;
	display: inline-block;
	width: 50%;
	color: #969696;
	}
#restorer table.localStore tr[data-id] span.x100pc {
	font-size: 75%;
	text-align: center;
	display: inline-block;
	width: 100%;	
	white-space: nowrap;
	color: #969696;
	}

#restorer .warning {
	border: 2px solid #e10000;
	background-color: #fcc;
	padding: 0.3em;
	box-shadow: 0.05em 0.05em 0.2em #00000080;
	margin: 0.5em 0.2em 0.8em 0.2em;
	color: #d00000;
	}
