<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<dht:template xmlns:dht="dynamic-html-templates">
	<!-- <dht:stylesheet src="./settings.css"/> -->
	<dht:script src="settings.js"/>
	<dht:snippet name="settings">
		<div id="settings" class="blue" onclick="event.stopPropagation();">
			<div class="blue-viewport">
				<h1><i class="fas fa-times" onclick="owc.ui.sweepVolatiles();"></i>Settings</h1>
				<div class="panel">
					<p>Select what expansions you want to use special rules from.</p>
					<div>
						<span>
							<input type="checkbox" id="rulesScopeSbh" data-settingsgroup="rules_scope" data-settingskey="sbh" disabled="disabled" checked="checked"/>
							<label for="rulesScopeSbh">Song of Blades and Heroes</label>
						</span>
						<span>
							<input type="checkbox" id="rulesScopeSgd" data-settingsgroup="rules_scope" data-settingskey="sgd"/>
							<label for="rulesScopeSgd">Song of Gold and Darkness</label>
						</span>
						<span>
							<input type="checkbox" id="rulesScopeSww" data-settingsgroup="rules_scope" data-settingskey="sww"/>
							<label for="rulesScopeSww">Song of Wind and Water</label>
						</span>
						<span>
							<input type="checkbox" id="rulesScopeSdg" data-settingsgroup="rules_scope" data-settingskey="sdg"/>
							<label for="rulesScopeSdg">Song of Deeds and Glory</label>
						</span>
						<span>
							<input type="checkbox" id="rulesScopeSam" data-settingsgroup="rules_scope" data-settingskey="sam"/>
							<label for="rulesScopeSam">Song of Arthur and Merlin</label>
						</span>
					</div>
				</div>
				<div class="panel">
						<p>Choose the language for unit profiles.</p>
					<select data-settingsgroup="language">
						<option value="en">English</option>
						<option value="de">Deutsch</option>
					</select>
				</div>
				<div class="panel">
						<p>What format do you prefer the unit sheets to be?</p>
					<span>
						<input type="radio" id="view_mode_classic" data-settingsgroup="view_mode" data-settingskey="classic" name="view_mode"/>
						<label for="view_mode_classic">Classic unit profiles</label>
					</span>
					<span>
						<input type="radio" id="view_mode_classic_touch" data-settingsgroup="view_mode" data-settingskey="classictouch" name="view_mode"/>
						<label for="view_mode_classic_touch">Classic unit profiles, optimized for touchscreen devices</label>
					</span>
					<span>
						<input type="radio" id="view_mode_list" data-settingsgroup="view_mode" data-settingskey="list" name="view_mode"/>
						<label for="view_mode_list">Compact list</label>
					</span>
				</div>
				<div class="panel">
						<p>More Options.</p>
					<span>
						<input type="checkbox" id="option_highlightPersonalities" data-settingsgroup="options" data-settingskey="highlightPersonalities"/>
						<label for="option_highlightPersonalities">Highlight personalities</label>
					</span>
					<span>
						<input type="checkbox" id="option_personalitiesInPoints" data-settingsgroup="options" data-settingskey="personalitiesInPoints"/>
						<label for="option_personalitiesInPoints">Show personalities points instead of percents</label>
					</span>
					<span>
						<input type="checkbox" id="option_applyRuleChecks" data-settingsgroup="options" data-settingskey="applyRuleChecks"/>
						<label for="option_applyRuleChecks">Check rule compliance</label>
					</span>
				</div>
				<div class="buttons">
					<input type="button" value="apply" dht:onclick="applySettings"/>
				</div>
			</div>
		</div>
	</dht:snippet>
</dht:template>
