#inputDialogVeil {
	background-color: #00000080;
	background: linear-gradient(to right, #000000a0 0%, #00000056 40%, #00000056 60%, #000000a0 100%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9000;

	#inputPrompt {
		background-color: white;
		padding: 1em;
		border: none;
		border-radius: 1em;
		box-shadow: 0 0 1.3em 0.4em #00000056;
		width: 780px;
		min-width: 300px;
		max-width: 95vw;
		position: absolute;
		z-index: 100;

		* {
			font-family: var(--sans-font);
			font-size: 1em;
		}

		h1 {
			font-weight: bold;
			text-align: center;
			color: #808080;
			border-bottom: 2px solid #808080;
			padding-bottom: 0.5em;
			margin-bottom: 0.5em;
			cursor: default;
		}

		input {
			display: inline-block;
			padding: 0.2em;
			border: 1px solid transparent;
			border-radius: 0.3em;
			cursor: text;
			width: 100%;
		}

		.buttons {
			border-top: 2px solid #808080;
			padding-top: 0.5em;
			margin-top: 0.5em;
			display: flex;
			column-gap: 0.5em;
			button {
				border: 2px dotted silver;
				border-radius: 1em;
				padding: 0.2em;
				flex: 1;
				text-align: center;
				color: grey;
				cursor: pointer;
			}
		}
	}
}
