div[data-menubox] {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: sans-serif;
	border: 1px solid #808080;
	background-color: #ffffff;
	padding: 0.2em;
	box-shadow: 2px 2px 5px #00000080;
	z-index: 99999;
}

div[data-menubox] div[data-menuitem] {
	border: 1px solid #ffffff;
	padding: 0.2em 0.4em;
	font-size: smaller;
	cursor: pointer;
}

div[data-menubox] div[data-menuitem]:hover {
	background: linear-gradient(to bottom, #f8f8f8 0%,#e0e8f8 100%);
	background-color: #e0e8f8;
	border-color: #4080f0;
}

div[data-menubox] div.separator {
	height: 1px;
	background-color: #808080;
	border: 0px;
	margin: 0.5em 0.4em;
}
