div.tooltip {
	display: block;
	position: absolute;
	visibility: hidden;
	max-width: 20em;
	font-family: sans-serif;
	font-size: smaller;
	white-space: normal;
	color: black;
	padding: 0.2em;
	margin-top: 0.5em;
	background-color: #ffffd0;
	border: 1px solid #808080;
	box-shadow: 1px 1px 3px #00000080;
	z-index: 99999;
}

div.tooltip * {
	color: black;
	padding: 0px;
	margin: 0px;
}

*:hover > div.tooltip {
	visibility: visible;
}
