div.tooltip { display:block; visibility:hidden; position:absolute;  font-family:sans-serif; font-size:10pt; color:#000000; border:1pt solid #808080; background-color:#ffffd0; padding:2px; margin-top:10px; margin-left:-6pt; max-width:300px; z-index:60100; box-shadow:1px 1px 3px #c0c0c0; white-space:normal; }
*:hover > div.tooltip { visibility:visible; }
