.classicview * {
	font-family: serif;
	font-size: 12pt;
	}

.classicview input,
.classicview select {
	border: 1px solid rgba(92, 92, 92, 0.7);
	border-radius: 0.15em;
	box-shadow: 0.1em 0.1em 0.5em #00000040;
	padding: 0px;
	margin: 0px;
	}

.classicview #warbandheader {
	margin-bottom: 1.5em;
	}
.classicview.screenfx #warbandheader {
	text-shadow: 0.05em 0.05em 0.3em #00000052;
	}

.classicview #warbandheader * {
	font-size: 18pt;
	font-weight: bold; 
	width: 100%;
	text-align: center;
	}

.classicview.screenfx #warbandfooter {
	position: sticky;
	bottom: 0px;
	background-color: white;
	box-shadow: 0px -0.8em 0.8em #ffffff;
	padding-top: 0.5em;
	}

.classicview span[data-valueof="warbandname"] {
	display: inline-block;
	}

.classicview input[data-editor="warbandname"] {
	box-shadow: none;
	background: linear-gradient(to bottom, #ffffff 70%,#e0e0e0 100%);
	}

.classicview input[data-valueof="name"],
.classicview input[data-editor="name"] {
	width: calc(90% - 0.35em);
	}

.classicview input[data-valueof="count"],
.classicview input[data-editor="count"] {
	width: 10%;
	float: right;
	text-align: right;
	}

.classicview input[data-editor="specialruletext"] {
	color: initial;
	text-decoration-line: none;
	min-width: 2em;
	}

.classicview select,
.classicview input,
.classicview .specialruleEditorSeparator {
	display: none;
	}

.classicview .interactive:hover > select,
.classicview .interactive:hover > input,
.classicview .interactive:hover > * > .specialruleEditorSeparator { display: inline-block; }

.classicview .interactive:hover > [data-valueof] { display: none !important; }

.classicview table#unitsgrid {
	width: 100%;
	}

.classicview table#unitsgrid div.addunit {
	border: 0.15em dashed #bdbdbd;
	background-color: #f3f3f3;
	background: linear-gradient(to bottom, #f9f9f9 50%,#efefef 100%);
	font-family: sans-serif;
	text-align: center;
	padding: 1.5em;
	border-radius: 1em;
	font-size: smaller;
	color: #bdbdbd;
	cursor: pointer;
	margin-bottom: 1.5em;
	}
.classicview table#unitsgrid div.addunit:hover {
	background: linear-gradient(to bottom, #f3f7fe 50%,#dce3f2 100%);
	border-color: #8295bd;
	color: #8295bd;
	}

.classicview table#unitsgrid td.left { width: 50%; vertical-align: top; padding-right: 0.75em; }
.classicview table#unitsgrid td.right { width: 50%; vertical-align: top; padding-left: 0.75em; }

.classicview table.unit {
	border: none;
	border-collapse: collapse;
	border-spacing: 0px;
	table-layout: fixed;
	width: 100%;
	max-width: 500px;
	margin-bottom: 1.5em;
	cursor: default;
	}
.classicview.screenfx table.unit {
	box-shadow: 0.1em 0.1em 0.3em #0000002f;
	background: linear-gradient(165deg, #ffffff 75%,#f2f2f2 100%);
	}

.classicview table.unit th,
.classicview table.unit td {
	width: 33%;
	text-align: left;
	vertical-align: middle;
	padding: 0.35em;
	border: 1px solid black;
	overflow: auto;
	}

.classicview table.unit th {
	width: 100%;
	background-color: #d8d8d8;
	font-weight: normal;
	}
.classicview.screenfx table.unit th {
	background: linear-gradient(135deg, #d8d8d8 70%,#c8c8c8 100%);
	}
.classicview.screenfx table.unit td[data-action="showunitmenu"] {
	cursor: pointer;
	}

.classicview table.unit .interactive:hover {
	background-color: #e0e8f8;
	}

.classicview table.unit span.personality {
	font-weight: bold;
	}

.classicview table.unit span.specialrule {
	display: inline-block;
	}
.classicview table.unit .interactive span.specialrule:hover {
	text-decoration: line-through;
	color: red;
	cursor: default;
	}

.classicview table.unit .interactive span.specialrule.out-of-scope {
	border-bottom: 0.1em dotted red;
	}

.classicview .rulecheck-header,
.classicview .rulecheck-list {
	color: red;
	}
	
.classicview .rulecheck-list li {
	margin-left: 2em;
	}
