
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

table { border: none; border-collapse: collapse; border-spacing: 0em; }

input, select {
	font-size: 1rem;
	}

input[type="text"], input[type="number"] { cursor: text; width: 100%; padding: 0.1em; }
input[type="number"] { text-align: right; }
input[type="file"] { width: 100%; }
input[type="button"] { padding: 0.1em 1em; }
select { cursor: pointer; padding: 0em 0.2em; }


#warbandCanvas * {
	font-family: 'Source Serif Pro', serif;
	}

/*
5cacad0c771550d6abf33de696fe048e7c5e2940 killed ff8d0e8b4700730eddbe863e368dd550bf59e959
*/
#warbandCanvas .interactive [data-editor] {
/* #warbandCanvas .interactive * > [data-editor="name"] { */
	border: 1px solid transparent;
	}

#warbandCanvas .interactive [data-editor]:hover,
#warbandCanvas .interactive *:hover > [data-editor="name"],
#warbandCanvas .interactive [data-editor]:focus,
#warbandCanvas .interactive select[data-editor] {
	border: 1px solid rgba(92, 92, 92, 0.7);
	border-radius: 0.15em;
	box-shadow: 0.1em 0.1em 0.5em #00000040;
	background-color: #fff;
}

/* header */

#warbandCanvas #warbandheader {
	font-size: 2rem;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
	}
#warbandCanvas .screenfx #warbandheader {
	text-shadow: 0.05em 0.05em 0.3em #00000052;
	}
#warbandCanvas .screenfx #warbandheader:hover,
#warbandCanvas .screenfx #warbandheader:focus {
	box-shadow: none;
	background: linear-gradient(to bottom, #fff 70%,#e0e0e0 100%);
	}

/* units */

#warbandCanvas .personality {
	font-weight: bold;
	}

/* specialrules */

#warbandCanvas .specialrule,
#warbandCanvas .specialrule [data-specialruleindex] {
	display: inline-block;
	}

#warbandCanvas .interactive .specialrule .out-of-scope {
	border-bottom: 2px dotted red;
	}

/* footer */

#warbandCanvas .screenfx #warbandfooter {
	position: sticky;
	bottom: 0em;
	background-color: #ffffffd0;
	box-shadow: 0em 0em 5px 5px #ffffffd0;
	margin-top: 1.5em;
	text-shadow:
		-0.1em 0.1em 0.1em #fff,
		-0.1em -0.1em 0.1em #fff,
		0.1em -0.1em 0.1em #fff,
		0.1em 0.1em 0.1em #fff;
	}

#warbandCanvas #warbandfooter .rule-violation {
	color: red;
	padding-left: 1.6em;
	}

#warbandCanvas #warbandfooter .rule-violation:before {
	content: "\24D8";
	color: red;
	display: inline-block;
	position: relative;
	margin-left: -1.2em;
	width: 1.2em;
	}

@media print {
	:root {
		font-size: 12pt;
		}
	body {
		margin-top: 36pt;
		}
	#warbandCanvas {
		width: 100%;
		}
}
