#specialrulesSelector {
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: var(--z-index-topmost);
	background-color: #fff;
	box-shadow: 0 0 1.3em 0.4em #00000056;
	max-height: calc(100vh - 5em);
	overflow-y: hidden;
	padding: 0.75em;
	border-radius: 1em;

	* {
		font-family: var(--sans-font);
		user-select: none;
	}

	h1 {
		font-size: 1em;
		font-weight: bold;
		text-align: center;
		color: #808080;
		border-bottom: 2px solid #808080;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		cursor: default;
	}

	hr {
		height: 0;
		border-style: solid;
		border-color: #dedede;
		border-width: 0 0 2px 0;
		margin: 0.5em 0;
	}

	[name="list"] {
		max-height: 100%;
		overflow-y: scroll;

		p.item {
			padding: 0.5em;
			border-radius: 0.3em;
			cursor: pointer;
			&::before {
				font-family: var(--fontawesome);
				margin-right: 0.5em;
				color: #ccc;
			}
			&[data-ispersonality="true"] {
				font-weight: 600;
			}
			&[data-checked="false"]::before {
				content: "\f0c8"; /* square */
				font-weight: 400;
			}
			&[data-checked="true"]::before {
				content: "\f14a"; /* check-square */
				font-weight: 800;
				color: var(--menuitem-hover-foreground);
			}
			&:hover {
				color: var(--menuitem-hover-foreground);
				background-color: var(--menuitem-hover-background);
				.sort {
					color: #a0a0a0;
				}
			}
			&:hover[data-checked="false"]::before {
				color: var(--menuitem-dim-hover-foreground);
			}

			.sort {
				font-family: var(--fontawesome);
				display: inline-block;
				width: 1.5em;
				text-align: center;
				padding-right: 0.2em;
				color: #ddd;
				cursor: ns-resize;
			}

			[contenteditable] {
				cursor: text;
				border: 1px solid #aaa;
				border-radius: 0.3em;
				padding: 0.3em;
				min-width: 1em;
				user-select: text;
				&:hover,
				&:focus {
					color: #000;
					background-color: #fff;
					box-shadow: 0.1em 0.1em 0.3em #00000040;
				}
				&:focus::after {
					content: "";
					padding-right: 1em;
				}
			}

			[data-points] {
				font-family: var(--monospace-font);
				float: right;
				margin-left: 1em;
				font-size: 85%;
				font-weight: normal;
				background-color: #e8e8e8;
				color: #777;
				padding: 0.1em 0.3em;
				border-radius: 0.3em;
				&[data-sign="1"]::before {
					content: "+";
				}
			}
		}
	}

	.buttons {
		border-top: 2px solid #808080;
		padding-top: 0.5em;
		margin-top: 0.5em;
		display: flex;
		column-gap: 0.5em;
		button {
			font-family: var(--sans-font);
			font-size: 1em;
			border: 2px dotted #c0c0c0;
			border-radius: 1em;
			padding: 0.2em;
			flex: 1;
			text-align: center;
			background-color: #f0f0f0;
			color: #808080;
			cursor: pointer;
			&:hover {
				background-color: #d8d8d8;
				color: #606060;
				border-color: #606060;
			}
		}
	}
}

.sortable-specialrules-chosen {
	opacity: 0.4;
}
