
table.localStore {
	border: 1px solid grey;
}

table.localStore tr[data-id] td:nth-child(2),
table.localStore tr[data-id] td:nth-child(3) {
	text-align: right;
}

table.localStore tr[data-id]:hover {
	background-color: blue;
	cursor: pointer;
}