
* { margin: 0px; padding: 0px; text-align: left; box-sizing: border-box; }

html, body, table, input, select, option, h1, h2, h3, h4, p, th, td {
	font-family: 'Source Serif Pro', serif;
	font-style: normal;
	font-size: 14px;
	}

body {
	overflow-x: hidden;
	width: 100vw;
	}

#title {
	margin-top: 1em;
	margin-bottom: 1.5em;
	}
#title * {
	font-family: 'Cantata One', serif;
	font-weight: normal; 
	text-align: center;
	}
#title h1 {
	font-size: 40px;
	font-variant: small-caps;
	}
#title h2 {
	font-size: 24px;
	font-variant: small-caps;
	}
#title div.tiny {
	font-style: italic;
	font-size: 10px;
	overflow: visible;
	}
#title h1,
#title h2,
#title div.tiny {
	text-shadow: 1px 2px 8px #00000052;
	}
div.subline {
	font-family: 'Source Serif Pro', serif;
	text-align: center;
	margin-bottom: 2em;
	}

@media screen and (min-width: 431px) and (max-width: 570px) {
	#title h1 { font-size: 6vw; }
	#title h2 { font-size: 3.6vw; }
}
@media screen and (max-width: 430px) {
	#title h1 { font-size: 28px; }
	#title h2 { font-size: 16.8px; }
	#title p { font-size: 8px; }
	body, table, input, select, option, h3, h4, p, th, td { font-size: initial; }
}

@media print { 
	body { width: 100%; margin-top: 36pt; }
	#warbandCanvas { width: 100%; }
}

a { color: blue; }
table { border: none; border-collapse: collapse; border-spacing: 0px; }
input[type="text"], input[type="number"] { cursor: text; width: 100%; padding: 0.1em; }
input[type="number"] { text-align: right; }
input[type="file"] { width: 100%; }
input[type="button"] { padding: 0.1em 1em; }
select { cursor: pointer; padding: 0em 0.2em; }

.centeredViewport { margin-left: auto; margin-right: auto; max-width: 800px; padding: 0px 5px; }

#top-menu {
	margin-bottom: 2em;
	position: sticky;
	top: 0px;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	background-color: #d0dcf4;
	border-top: 1px solid #95abd7;
	border-bottom: 1px solid #95abd7;
	padding-bottom: 5px;
	z-index: 20200;
	background: linear-gradient(135deg, #f3f7fe 0%,#d0dcf4 30%,#f3f7fe 100%);
	box-shadow: 0px 0px 0.5em #0000002f;
	}

#top-menu::after {
	display: block;
	content: ".";
	clear: left;
	height: 0px;
	overflow: hidden;
	}

#top-menu .button {
		float: left;
		margin-top: 5px;
		padding: 2px 2px;
		border: 1px solid #ff8e00;
		border-left: 15px solid #ff8e00;
		background-color: #ffde7e;
		margin-right: 2px;
		cursor: pointer;
		box-shadow: 1px 1px 4px #95ab80;
		white-space: nowrap;
		}
#top-menu .button:hover {
	border-color: #ff561c;
	background-color: #ffcc63;
	color: #91361f;
	}
#top-menu .disabled,
#top-menu .disabled:hover {
	border-color: #808080;
	background-color: #d0d0d0;
	color: #808080;
	}

#top-menu .button.popup {
	border-left-width: 16pt;
	}
#top-menu .button.popup::before {
	content: "\2630\0020";
	margin-left: -13pt;
	margin-right: 5pt;
	font-size: 80%;
	}

#advertisement {
	margin-top: 1em;
	margin-bottom: 1em;
	}
#advertisement p {
	font-size: 14px;
	margin-bottom: 0.3em;
	padding-left: 1.5em;
}
#advertisement .legal {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid black;
	}
#advertisement .legal p {
	font-family: 'Roboto', sans-serif;
	font-size: smaller;
	margin-bottom: 0.5em;
	padding: 0px;
	}
#advertisement .icon {
	margin-left: -1.5em;
	width: 1.2em;
	margin-right: 0.3em;
	text-align: center;
	}

#loading-wrapper {
	position: fixed;
	top: 35vh;
	left: 30vw;
	width: 40vw;
	background-color: #ffffff;
	padding: 1em 1.5em;
	border-radius: 1em;
	box-shadow: 1em 1em 4em rgba(0, 0, 0, 0.4);
	cursor: wait;
 	z-index: 90100;
	}
@media screen and (max-width: 430px) {
	#loading-wrapper { left: 5vw; width: 80vw; }
	}
#loading-wrapper .loading-text {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.5em;
	}
#loading-wrapper .loading-gradient {
    width: 100%;
    background-size: 150% 100%;
		border-radius: 1em;
    background-image: repeating-linear-gradient(
		100deg,
		#d0dcf4 0%,
		#f3f7fe 35%,
		#ffde7e 35.1%,
		#ffde7e 50%,
		#ff8e00 50.1%,
		#ff8e00 60%,
		#f3f7fe 60.1%,
		#d0dcf4 100%
	);
  animation: loading-gradient linear 1s infinite;
	}
@keyframes loading-gradient {
    0% {background-position: 200% 0%}
    100% {background-position: -100% 0%}
	}
#blur {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 90100;
	background-color: #00000062;
	visibility: hidden;
	display: block;
	}
#printoverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 90100;
	display: block;
	cursor: default;
	}
