#didyouknow {
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	border: 1pt solid #c8c8c8;
	background-color: #ffffe8;
	padding: 0.3em;
	box-shadow: 1pt 1pt 3pt #c0c0c0;
	}
	
#didyouknow h1,
#didyouknow p {
	font-size: 10pt;
	margin: 6pt;
	margin-left: 38pt;
	}

#didyouknow h1 {
	font-weight: bold;
	}

#didyouknow p#didyouknow_next
{
	color: #0000ff;
	text-decoration: underline;
	cursor: pointer;
	}

#didyouknow .icon {
	font-size: 24pt;
	margin: 6pt;
	padding-left: 10px;
	padding-right: 10px;
	border: 1pt solid #a0a0a0;
	color: #808080;
	background-color: #ffffd0;
	border-radius: 2pt;
	position: absolute;
	}

#didyouknow .icon { float:left; font-family:'Times New Roman',serif; font-weight:bold; }
