/* #region Warband editor area */
#warband-editor {
	--max-unit-sheet-width: 500px;
	--unit-head-background-color: #d8d8d8;
	--input-border-radius: 0.15em;
	--input-hover-border-color: rgba(92, 92, 92, 0.7);
	--input-hover-shadow: 0.1em 0.1em 0.3em #00000040;

	flex: 1;
	cursor: default;
	margin: 1em auto 3em auto;
	width: 100%;

	* {
		font-family: var(--warband-font);
		font-size: 1em;
		background-color: inherit;
	}

	[name="warbandname"] {
		font-size: 2rem;
		font-weight: bold;
		width: 100%;
		text-align: center;
		margin: 0 0 1em 0;
	}

	[data-highlight-personalities="true"] [data-ispersonality="true"] {
		font-weight: bold;
	}

	input,
	select,
	[contenteditable="true"] {
		border: 1px solid transparent;
		border-radius: var(--input-border-radius);
		box-sizing: border-box;
		display: inline-block;
		cursor: text;
		padding: 0;
	}
	input,
	select {
		max-width: max-content;
	}

	div.specialrules {
		/* Display all specialrules a flexbox */
		display: flex;
		flex-wrap: wrap;
		column-gap: 0.3em;
		align-items: flex-start;
		/* Add a comma to every actual specialrule (but not the last one) */
		span[name="specialrule"]:not(:last-of-type)::after {
			content: ",";
		}
	}

	#warband-summary {
		margin-top: 1.5em;
		span {
			display: inline-block;
		}
		.rule-violation {
			color: red;
			text-indent: -1.4em;
			margin-left: 1.6em;
			&::before {
				content: "\f06a"; /* circle-exclamation */
				font-family: var(--fontawesome);
				font-weight: 800;
				font-size: 0.9em;
				padding-right: 0.5em;
			}
		}
	}
}

@media print {
	input[type="number"] {
		appearance: textfield; /* Firefox */
		-moz-appearance: textfield; /* Firefox */
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none; /* Chrome, Safari, Edge */
		margin: 0;
	}

	#warband-editor {
		.tooltip {
			display: none;
		}
	}
}

@media screen {
	#warband-editor {
		[name="warbandname"] {
			margin-top: 1em;
			text-shadow: 0.05em 0.05em 0.3em #00000052;
		}

		/* No need for warband summary to be sticky on printer. */
		#warband-summary {
			position: sticky;
			bottom: 0;
			margin-top: 3em;
			pointer-events: none;
			span,
			span::before {
				max-width: fit-content;
				background-color: #fff;
				border-radius: 0.5em;
				box-shadow: 0 0 0 2px #fff;
				pointer-events: auto;
				cursor: text;
			}
		}

		span[name="specialrule"] {
			.tooltip {
				display: block;
				position: absolute;
				visibility: hidden;
				font-family: var(--sans-font);
				font-size: 0.8rem;
				color: black;
				padding: 0.4rem;
				margin-top: 0.5em;
				background-color: #ffffd0;
				box-shadow: 0.2rem 0.2rem 0.7rem #00000080;
				z-index: 99999;
				border-radius: 0.5em;
				pointer-events: none;
				white-space: normal;
			}
			.tooltip:before {
				content: "";
				position: absolute;
				border-bottom: 15px solid #ffffd0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				left: 1.2em;
				margin-top: -18px;
			}
			&:hover .tooltip {
				visibility: visible;
			}
			.out-of-scope {
				border-bottom: 2px dotted #f00;
			}
		}

		i.fa-regular,
		i.fa-solid {
			font-family: var(--fontawesome);
			display: inline-block;
			width: 1em;
			text-align: center;
		}
	}
}
/* #endregion */

/* #region Classic unit sheet. */
#warband-editor table.unitsheet {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
	max-width: var(--max-unit-sheet-width);
	align-self: start; /* Align table to the top of the grid cell */

	td {
		text-align: left;
		vertical-align: baseline;
		padding: 0.35em;
		border: 1px solid black;
		font-weight: normal;
	}

	thead {
		tr {
			background-color: var(--unit-head-background-color);
		}
		[name="count"] {
			width: 3em;
		}
		/* The "count" input shall not be visible until its value is greater than 1. */
		&:not(:hover):not(:focus) input[name="count"][data-value="1"]:not(:hover):not(:focus) {
			color: transparent;
		}
	}

	tbody td {
		width: 33.33%;
	}
}
@media screen {
	#warband-editor table.unitsheet {
		box-shadow: 0.1em 0.1em 0.3em #0000002f;
		background: linear-gradient(165deg, #ffffff 75%, #f2f2f2 100%);

		tr.head {
			background: linear-gradient(135deg, #d8d8d8 70%, #c8c8c8 100%);
		}
	}
}
/* #endregion */

/* #region Input elements for "desktop" layouts. */
#warband-editor .desktop {
	/* Remove caret from `<select>` elements */
	select {
		appearance: none;
		-webkit-appearance: none; /* Safari */
		-moz-appearance: none; /* Firefox */
	}
	/* Make specialrule selector insisible by default; enable it on screen only. */
	select[name="specialrules"] {
		display: none;
	}
}
@media screen {
	#warband-editor .desktop {
		/* Highlight any input elements on TH/TD hover */
		td:hover input,
		td:hover select,
		td:hover [contenteditable="true"] {
			border-color: var(--input-hover-border-color);
			background-color: white;
			box-shadow: var(--input-hover-shadow);
			color: #000;
		}

		input,
		select {
			padding: 0 0.2em;
			min-width: 2em;
		}
		select {
			cursor: pointer;
		}

		input,
		select,
		[contenteditable="true"] {
			&:hover,
			&:focus {
				border-color: var(--input-hover-border-color);
				background-color: #fff;
				box-shadow: var(--input-hover-shadow);
			}
			&[name="warbandname"] {
				&:hover,
				&:focus {
					border-color: var(--input-hover-border-color);
					background: linear-gradient(to bottom, #fff 70%, #e0e0e0 100%);
					padding-right: initial;
					box-shadow: none;
				}
			}
		}

		[contenteditable="true"].dyn-width:focus {
			min-width: 1em;
			&::after {
				content: "";
				padding-right: 1em;
			}
		}

		select[name="specialrules"] {
			color: #aaa;
			display: initial;
			&:hover,
			&:active {
				color: #000;
			}
		}

		.specialrule-deletehelper {
			cursor: pointer;
			/* Make actual specialrule red and strikethrough on hover */
			&:hover,
			&:hover ~ span {
				/* Only text content is in <span> elements. <div> is for the tooltip. */
				color: red;
				text-decoration: line-through;
			}
		}

		i.fa-regular,
		i.fa-solid {
			cursor: pointer;
			color: rgba(0, 0, 0, 0.3);
			&:hover {
				color: #495b8f;
			}
		}

		button {
			display: inline-block;
			border: 2px dashed #bdbdbd;
			background-color: #f3f3f3;
			background: linear-gradient(to bottom, #f9f9f9 50%, #efefef 100%);
			font-family: var(--sans-font);
			text-align: center;
			border-radius: 1em;
			color: #bdbdbd;
			cursor: pointer;
			&:hover {
				background: linear-gradient(to bottom, #f3f7fe 50%, #dce3f2 100%);
				border-color: #8295bd;
				border-style: solid;
				color: #63718f;
				box-shadow: var(--input-hover-shadow);
				&:active {
					transform: translateY(2px);
					box-shadow: 0.08em 0.05em 0.15em #00000040;
				}
			}
		}
	}
}
/* #endregion */
