div[data-menubox] {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: var(--sans-font);
	border: 1px solid #808080;
	background-color: white;
	padding: 0.2em;
	box-shadow: 0.2rem 0.2rem 1rem #00000080;
 	z-index: var(--z-index-topmost);
}

div[data-menubox] div[data-menuitem] {
	padding: 0.3em 0.5em;
	cursor: pointer;
}

div[data-menubox] div[data-menuitem]:hover {
	color: #607080;
	background-color: #f0f0f0;
}

div[data-menubox] div.separator {
	height: 0.1rem;
	background-color: #808080;
	border: 0rem;
	margin: 0.6em;
}
